body{
    background-color: beige;
}
canvas {
    display:block;
    margin:10px auto;
    border: ridge wheat 10px;
}
header{
    background-color: black;
    color: wheat;
    text-align: center;
    height: 50px;
    border-radius: 10px;
}
